@model IList<BloodDonationSystem.Services.Models.Patients.PatientServiceModel>;

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-4">
    <div class="card-body">
        <!-- Grid row -->
        <div class="row">
                <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">Search within patients</h2>
            <!-- Grid column -->
        </div>
        <div class="row custyle">
            <table class="table table-striped text-light table-hover" id="all">
                <!--Table head-->
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Full Name</th>
                        <th>Age</th>
                        <th>Blood Type</th>
                        <th>Rhesus Factor</th>
                        <th>Hospital</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 1; i <= Model.Count(); i++)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@Model[i - 1].FullName</td>
                            <td>@Model[i - 1].Age </td>
                            <td>@Model[i - 1].BloodType.ABOGroupName </td>
                            <td>@Model[i - 1].BloodType.RhesusFactor </td>
                            <td>@Model[i - 1].Hospital.Name </td>
                            <td>@Model[i - 1].User.Username</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>