@model IList<BloodDanationSystem.Web.ViewModels.Administration.Patient.PatientAllViewModel>;

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-6">
    <div class="card-body">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-12">
                <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">Search within patients</h2>
                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control my-0 py-1 pl-3 purple-border text-light" onkeyup="searchMenu()" type="text" placeholder="Search here..." aria-label="Search">
                    <span class="input-group-addon waves-effect purple lighten-2" id="basic-addon1"><a><i class="fa fa-search white-text text-light" aria-hidden="true"></i></a></span>
                </div>
            </div>
            <!-- Grid column -->
        </div>
        <div class="row custyle">
            <table class="table table-striped text-light">
                <!--Table head-->
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Full Name</th>
                        <th>Age</th>
                        <th>Blood Type</th>
                        <th>Rhesus Factor</th>
                        <th>Hospital</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 1; i <= Model.Count; i++)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@Model[i - 1].FullName</td>
                            <td>@Model[i - 1].Age </td>
                            <td>@Model[i - 1].BloodType.ABOGroupName </td>
                            <td>@Model[i - 1].BloodType.RhesusFactor </td>
                            <td>@Model[i - 1].Hospital.Name </td>
                            <td>@Model[i - 1].User.Username</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>