@model IList<BloodDanationSystem.Web.ViewModels.Administration.Information.EmailsAllViewModel>;

@{
    ViewData["Title"] = "Emails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-4">
    <div class="card-body">
        <!-- Grid row -->
        <div class="row">
            <div class="row">
                <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">Search within patients</h2>
                <!-- Grid column -->
            </div>
        </div>
        <div class="row custyle">
            <table class="table text-light table-hover" id="all">
                <thead>
                    <tr>
                        <th>#</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Email</th>
                        <th scope="col">Name</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 1; i <= Model.Count; i++)
                    {
                        <tr class="active">
                            <th scope="row">@i</th>
                            <td>@Model[i - 1].Subject </td>
                            <td>@Model[i - 1].Email </td>
                            <td>@Model[i - 1].Name </td>
                            <td>
                                <a href="/Administration/Information/Details/@Model[i -1].Id" class="btn btn-info a-btn-slide-text">
                                    <input type="hidden" value="@Model[i-1].Id" name="emailId" />
                                    <span class="fa fa-reply"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
