@model IList<BloodDanationSystem.Web.ViewModels.Administration.Donor.DonorAllViewModel>;

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-4">
    <div class="card-body">
        <!-- Grid column -->
        <div class="row">
            <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">Search within donors</h2>
            <!-- Grid column -->
        </div>
        <div class="row custyle">
            <table class="table text-light table-hover" id="all">
                <thead>
                    <tr>
                        <th>#</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Blood Type</th>
                        <th scope="col">Rhesus Factor</th>
                        <th scope="col">User</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 1; i <= Model.Count; i++)
                    {
                        <tr class="active">
                            <th scope="row">@i</th>
                            <td>@Model[i - 1].FullName</td>
                            <td>@Model[i - 1].Age</td>
                            <td>@Model[i - 1].BloodType.ABOGroupName </td>
                            <td>@Model[i - 1].BloodType.RhesusFactor </td>
                            <td>@Model[i - 1].User.Username </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
