@model IEnumerable<BloodDanationSystem.Web.ViewModels.Administration.Donor.DonorAllViewModel>;

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 1;
}

<div class="card mb-4">
    <div class="card-body">
        <!-- Grid column -->
        <div class="row">
            <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">Search within donors</h2>
            <!-- Grid column -->
        </div>
        <div class="row custyle">
            <table class="table text-light table-hover" id="all">
                <thead>
                    <tr>
                        <th>#</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Blood Type</th>
                        <th scope="col">Rhesus Factor</th>
                        <th scope="col">User</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var donor in Model)
                    {
                        <tr class="active">
                            <th scope="row">@counter</th>
                            <td>@donor.FullName</td>
                            <td>@donor.Age</td>
                            <td>@donor.BloodType.ABOGroupName </td>
                            <td>@donor.BloodType.RhesusFactor </td>
                            <td>@donor.User.Username </td>
                        </tr>
                        counter++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
